
@font-face {
    font-family: Chelsea Market;
    src: url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
}
@font-face {
    font-family: Roboto Mono;
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}


* {
    font-family: Roboto Mono;
}
/* header and navbar */

.container {
    text-align: center;
    padding: 20px;
   
}

.link {
    display: inline-block;
    margin: 0 100px;
   position: relative;
    

}
.visit {
    background-color: #FF764E;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  color: white;
}

.learn {
background-color:#5ED3EB ;
padding: 1.5rem;
border-radius: 10px;
position: relative;
color: white;
}


.involved {
   background-color: #FFCD69; 
   padding: 1.5rem;
   border-radius: 10px;
   color: white;
}
section .top-text {
    margin-bottom: 3.125em; 
    font-size: 1.25rem; 
    padding-left: 0.3125rem;
}

/* first section */

.park-guide {
    overflow: hidden;
    
}
 
.first-image {
    height: 17rem;
    border-radius: 50%;
    margin: 5rem 0 1rem 8rem;
    float: left;
    
}

.top {
    text-align: center;
    margin: 5rem 10rem 0 0;
}

/*font*/
h1 {
    font-family: Chelsea Market;
    font-size: 3.125rem;
}

 a {
    text-decoration: none;
 }


/*brown background text section*/

section .body-text {
    text-align: center;
     background-color: #DDB9A3;
    color: white;
    padding: 1.5625rem;
   margin: 0 5rem;
   font-size: 1.1rem;
    
}

/*fire picture section*/
.mid-page {
text-align: center;
margin-bottom: 3.125rem;

}

.fire {
    display: block;
    margin: 0 auto;
    height: 9.375rem;
}
.fire-text {
    padding: 0.3125rem;
    margin:0;
}


/* footer */

footer {
    background-color: #F9E7DC;
}

footer img {
    height: 200px;
    width: 100%;
    margin-bottom:3.125rem;
}

footer .link{
    margin-bottom: 15px;
}